@import './fonts/Poppins/P200';
@import './fonts/Poppins/P300';
@import './fonts/Poppins/P400';

html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0 -5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    font-size: 10pt;
}

body footer .copyright {
    padding: 1.5rem 0;
}
