@import './fonts/Poppins/P200';
@import './fonts/Poppins/P400';
@import './fonts/Poppins/P500';
@import './fonts/Poppins/P600';

body {
    font-family: "Poppins",
        sans-serif;
    font-size: 12pt;
    font-weight: 400;
    color: #525f7f;

    .receipt {
        background-color: #fff;
        padding: 1rem 2rem;
        width: 5in;
        min-height: 8.89in;
        margin: 1rem auto;
        line-height: 1.9;

        .logo {
            width: 3in;
            margin: 1rem auto;

            img {
                width: 100%;
            }
        }

        .address {
            padding: 0 1rem;

            .phone,
            .email,
            .postal_address {
                text-align: center;
            }
        }

        .title {
            font-size: 16pt;
            color: #FFA948;
            margin-bottom: 2rem;
            margin-top: 2rem;
        }

        .amount {
            margin: 1rem;
            background-color: #215AB2;
            color: #fff;
            padding: 3rem 2.5rem;

            .number {
                text-transform: uppercase;
                font-size: 24pt;
                text-align: left;
            }

            .word {
                text-align: justify;
            }

            .method {
                margin-top: 1rem;
            }
        }

        .particulars,
        .from {
            margin: 2rem 1rem;
            // text-align: center;

            .caption {
                display: inline-block;
                font-weight: 700;
                border-bottom: 1px solid #999;
                padding-bottom: 0.5rem;
                margin-bottom: 0.5rem;
                margin-left: 2.5rem;
            }

            .value {
                font-weight: 400;
                padding-left: 2.5rem;
                padding-right: 2.5rem;
            }
        }

        .receipt_number {
            margin-left: 3.5rem;

            .number {

                .caption,
                .value {
                    display: inline-block;
                }

                .caption {
                    font-weight: 300;
                }

                .value {
                    font-weight: 500;
                }
            }

            .barcode {
                img {
                    border-radius: 0;
                }
            }
        }
    }
}

.text-center {
    text-align: center;
}
