@import './fonts/Poppins/P200';
@import './fonts/Poppins/P400';
@import './fonts/Poppins/P500';
@import './fonts/Poppins/P600';

@media screen {
    body {
        .receipt {
            font-size: 0.85rem;
        }
    }
}

@media print {
    body {
        .receipt {
            font-size: 14pt;
        }
    }
}

body {

    .receipt {
        background-color: #fff;
        padding: 1rem 2rem;
        width: 5in;
        min-height: 8.89in;
        margin: 1rem auto;
        line-height: 1.9;
        font-family: "Poppins",
            sans-serif;
        font-weight: 400;
        color: #525f7f;

        .logo {
            width: 3in;
            margin: 1rem auto;

            img {
                width: 100%;
            }
        }

        .address {
            padding: 0 1rem;

            .phone,
            .email,
            .postal_address {
                text-align: center;
            }
        }

        .title {
            font-size: 16pt;
            color: #FFA948;
            margin-bottom: 1rem;
            margin-top: 1rem;
            font-weight: 600;
        }

        .amount {
            margin: 1rem;
            background-color: #215AB2;
            color: #fff;
            padding: 3rem 2.5rem;

            .number {
                text-transform: uppercase;
                font-size: 24pt;
                text-align: left;
            }

            .word {
                text-align: justify;
            }

            .method {
                margin-top: 1rem;
                text-align: left;
            }
        }

        .particulars,
        .from,
        .date {
            margin: 2rem 1rem;
            // text-align: center;

            .caption {
                display: block;
                font-weight: 600;

                // margin-left: 2.5rem;
                // margin-right: 2.5rem;
                +.underline {
                    height: 1px;
                    background-color: #525f7f;
                    display: block;
                    width: 100px;
                    margin: 0 auto;
                    margin-bottom: 1rem;
                }
            }

            .value {
                font-weight: 400;
                // padding-left: 2.5rem;
                // padding-right: 2.5rem;
            }
        }

        .date {
            margin: 0.5rem 1rem 2rem 1rem;
        }

        .receipt_number {
            // margin-left: 3.5rem;
            // margin-right: 3.5rem;

            .number {

                .caption,
                .value {
                    display: inline-block;
                }

                .caption {
                    font-weight: 300;
                }

                .value {
                    font-weight: 500;
                }
            }

            .barcode {
                img {
                    border-radius: 0;
                }
            }
        }

        .thank {
            padding: 1rem 1.5rem;
            font-size: .8rem;
            font-weight: 300;
            border-top: 1px solid #FFA948;
            font-style: italic;
        }
    }
}

.text-center {
    text-align: center;
}
